@model List<L02P02_2022AA650_2022MA653.Models.libros>
@{
    ViewData["Title"] = "Listado de Libros";
}

<link rel="stylesheet" href="~/css/Style.css" />

<div class="pro-container">
    <ul class="progressbar mb-4">
        <li>Autores</li>
        <li class="active">Libros</li>
        <li>Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>

    <div class="card mb-3 shadow">
        <div class="card-body">
            <h5 class="text-primary d-inline"><strong>Autor:</strong></h5>
            <h5 class="text-dark d-inline ms-2">@ViewBag.Autor</h5>
        </div>
    </div>

    <div class="card shadow">
        <div class="card-header bg-white">
            <h5 class="text-primary">Seleccione el Libro del Autor</h5>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                    @foreach (var libro in Model)
                    {
                        <tr>
                            <td>@libro.nombre</td>
                            <td class="text-end">
                                @Html.ActionLink("Seleccionar", "Index", "Comentario", new { idLibro = libro.id }, new { @class = "btn btn-success" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
