@model List<autores>
@{
    ViewData["Title"] = "Listado de Autores";
}

<link rel="stylesheet" href="~/css/Style.css" />

@* <div class="bg-dark text-white py-4 text-center">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Facaai.org.gt%2Fwp-content%2Fuploads%2F2020%2F02%2FLogo-UNICAES-OFICIAL-923x1024.png&f=1&nofb=1&ipt=2526f463dfe0a12a65a9e4003786f38fd3508f48e3fbeb5dbfda43da6a96228f&ipo=images" alt="Logo UNICAES" class="mb-2" style="width: 80px; height: auto;" />
    <h2 class="mt-2">Comentarios por Libros</h2>
    <p class="text-light">Seleccione el autor -> Seleccione el Libro -> Se muestran los comentarios existentes -> Adicione un nuevo comentario</p>
</div> *@

<div class="pro-container text-center">
    <ul class="progressbar mb-4">
        <li class="active">Autores</li>
        <li>Libros</li>
        <li>Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>

    <div class="card mt-5 shadow">
        <div class="card-header bg-white text-start">
            <h3 class="text-primary">Autor</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="table-light">
                </thead>
                <tbody>
                    @foreach (var autor in Model)
                    {
                        <tr>
                            <td class="text-start fuente">@autor.autor</td>
                            <td class="text-end">
                                @Html.ActionLink("Seleccionar", "Seleccionar", "Autor", new { id = autor.id }, new { @class = "btn btn-success" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
