@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido - Libreria UNICAES</h1>
    <h5>Aprende en <a href="https://plataforma.catolica.edu.sv/my/">Unicaes</a>.</h5>
</div>
